<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">



<main th:fragment="cabecalho">
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container px-4 px-lg-5">
        <a class="navbar-brand" href="/index">FruitMart</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                <li class="nav-item"><a class="nav-link active" aria-current="page" href="/index">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="sobre">Sobre</a></li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Página do Admin</a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="cadastro">Cadastrar uma fruta</a></li>

                        <li><hr class="dropdown-divider" /></li>
                        <li><a class="dropdown-item" href="admin">Ver frutas</a></li>
                    </ul>
                </li>
            </ul>



            <p th:if="${#authorization.expression('isAuthenticated()')}">
                Bem-vindo, <span th:text="${#authentication.principal.username}"></span>
            </p>

            <form class="d-flex"  th:object="${usuario}">
                <a class="btn btn-outline-dark" th:href="@{/login}">
                    Logout
                </a>


                <div >

                    <a th:href="@{/verCarrinho}"  class="btn btn-outline-dark" >
                        <i class="bi-cart-fill me-1"></i>  Carrinho<span class="badge bg-dark text-white ms-1 rounded-pill" id="carrinho-quantidade"></span>
                    </a>

                </div>
            </form>
        </div>
    </div>
</nav>
<!-- Header-->
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">FruitMart</h1>
            <p class="lead fw-normal text-white-50 mb-0">O melhor do hortifrúti você encontra aqui! </p>
        </div>
    </div>
</header>
</main>>
</html>