

<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">


<section class="py-5" th:fragment="lista">
    <a th:href="@{/cadastro}" class="btn btn-success"> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 16 16">
        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
        <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
    </svg> Cadastrar nova fruta</a>
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            <div class="col mb-5" th:each="fruta : ${listarFrutas}" th:object="${fruta}">
                <div class="card h-100">
                    <div class="card-body p-4">
                        <div class="text-center">

                            <h5 class="fw-bolder" th:text="*{nome}"></h5>
                            <div class="justify-content-center small text-dark mb-2">
                                ID:<div class="bi-star-fill" th:text="*{id}"></div><br/>
                                Categoria:<div class="bi-star-fill" th:text="*{categoria}"></div><br/>
                                Em estoque:<div class="bi-star-fill" th:text="*{qtdEstoque}"></div><br/>

                            </div>
                            R$ <p  th:text="*{preco}"></p>
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center">
                            <td class="card-body">
                                <a th:href="@{'/editar/'+*{id}}" class="btn btn-warning"><img src="https://img.icons8.com/material-sharp/24/undefined/edit--v1.png"/>Editar</a>
                                <a th:href="@{'/deletar/'+*{id}}" class="btn btn-danger"><img src="https://img.icons8.com/ios-glyphs/30/undefined/filled-trash.png"/>Deletar</a>

                            </td>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
</html>

