<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>FruitMart</title>
    <link th:href="@{/css/estilo.css}" rel="stylesheet" type="text/css" />
    <script th:src="@{/js/script.js}" defer></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">


</head>
<body>


<div th:replace="/fragments/cabecalho ::cabecalho"></div>



<div th:if="${mensagem}" class="container mt-5">
    <p th:text="${mensagem}" class="alert alert-success"></p>
</div>

<!--Fragmento dos cards de frutas //lista as frutas do banco em cards  -->
<div th:replace="/fragments/carrinhoCard ::cardFrutasC"></div>

<div th:replace="/fragments/rodape :: rodape"></div>



<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>